@import '../../styles/variables';

.new-note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 2rem auto;
    background: #F8F8F8;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 4px;

    &__header {
        width: 100%;
        background: #987197;
        border-radius:5px;
        padding: 1.5rem 1rem;
        display: flex;
        align-items: center;

        &__title {
            font-family: $roboto-font;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            margin-left: 20px;

            color: #FDFDFF;
        }

        &__back {
            cursor: pointer;
        }

        div {
            color: $whitePrimary;
        }


    }

    &__content {
        display: flex;
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;

        &__info {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            padding-right: 3rem;
            color: #000000;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;

            .note-title {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 8px;
                /* identical to box height, or 150% *//* gray/700 */
                color: #2D3748;
            }

            .note-input {
                background: #FFFFFF;
                border: 1px solid #E2E8F0;
                box-sizing: border-box;
                border-radius: 6px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                padding: 0.5rem 1rem;
                margin-bottom: 1.5rem;
            }
            .note-input:focus {
                outline: none;
            }
        }
    }
}

.btn-upload {
    border: 1px solid #E2E8F0;
    box-sizing: border-box;
    border-radius: 6px;
    width: fit-content;
    padding: 0.7rem 1.7rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-submit {
    cursor: pointer;
    align-self: flex-end;
    background: #987197;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 0.5rem 1.5rem;
    margin-top: 3rem;
}