@import "../../styles/variables";

.logo-conteiner {
  position: relative;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  input[type="file"] {
    display: none;
  }
  img {
    border: 1px solid #c0d6ff;

    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
  }

  &__edit-icon {
    cursor: pointer;
    background-color: #0464fc;
    position: absolute;
    bottom: -4px;
    left: 50%;
    padding: 8px;
    border-radius: 50%;
    background: transparent;
  }
}
