@import "../../styles/variables";

$font-color: #fff;
$font-color-dark: #212427;
$blue: #50ad91;
$orange: #fbb440;

//border-radius
$border-radius-sm: 4px;
//box-shadow

// card backgournd

$card-bg-color: #dde1e7;
$box-shadow-card: -3px -3px 6px rgba(255, 255, 255, 0.45),
  3px 3px 6px rgba(94, 104, 121, 0.3);
$box-shadow-small-card: -2px -2px 5px rgba(255, 255, 255, 0.45),
  2px 2px 5px rgba(32, 58, 104, 0.3);

//button
$button-width: 6vw;
$card-width: 22rem;
//padding

//multiple styles

@mixin smallCard {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1vh 1.5vh;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-card;
}

@mixin detailsCard {
  position: absolute;
  top: -2vh;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.8vh;
  padding: 1vh;
  box-shadow: $box-shadow-small-card;
  font-weight: 600;
  letter-spacing: 0.1vw;
  border-radius: 2px;
}

@mixin logo {
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  margin-right: 2vw;
}

.card {
  width: $card-width;
  min-width: 25vw;
  height: auto;

  padding: 1.5rem;
  background: $card-bg-color;
  border-radius: $border-radius-sm;
  color: $darkPrimary;
  // box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  margin-right: 2vw;
  margin-bottom: 2vw;
  z-index: 1;

  &__project-info {
    @include smallCard;
    margin-bottom: 5vh;

    .project-details {
      @include detailsCard;
    }
  }
  &__project-logo {
    @include logo;
  }

  &__prmanger-info {
    @include smallCard;
    margin-bottom: 4vh;

    .manager-details {
      @include detailsCard;
    }

    .project-manager-image {
      @include logo;
    }
  }

  &__employee-info {
    text-align: end;
    padding: 2vh 2vh;
    width: 100%;
    font-size: 2.2vh;
    font-weight: bold;
    box-shadow: $box-shadow-card;
    border-radius: $border-radius-sm;

    // &__icon {
    //   position: relative;
    //   font-size: 1.6rem;
    //   z-index: 1000;
    //   &:hover {
    //     color: $orange;
    //     cursor: pointer;
    //   }
    // }

    // p {
    //   font-size: 0.7rem;
    // }
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: auto;
  }
}
