@import "../../styles/variables";

$font-color: #fff;
$font-color-dark: #212427;
$blue: #50ad91;
$orange: #fbb440;

//border-radius
$border-radius-sm: 4px;
//box-shadow

// card backgournd

$card-bg-color: $lightGrayPrimary;
$box-shadow-card: -3px -3px 6px rgba(255, 255, 255, 0.45),
  3px 3px 6px rgba(94, 104, 121, 0.3);
$box-shadow-small-card: -2px -2px 5px rgba(255, 255, 255, 0.45),
  2px 2px 5px rgba(32, 58, 104, 0.3);

//button
$button-width: 6vw;

//padding

//multiple styles

@mixin smallCard {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4vh 1vh 2vh 1vh;
  border-radius: $border-radius-sm;
  // font-size: 2.2vh;
  background-color: darken($lightGrayPrimary, $amount: 5%);
}

@mixin detailsCard {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.5vh;
  padding: 1vh;
  padding-bottom: 0.5vh;
  // box-shadow: $box-shadow-small-card;
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 2px;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@mixin logo {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  margin-right: 1vw;
}

.card {
  width: 23vw;
  min-width: 23vw;
  height: auto;
  padding: 1rem;
  background: $card-bg-color;
  border-radius: $border-radius-sm;
  color: $darkPrimary;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  margin-right: 3.5vw;
  margin-bottom: 3.5vw;

  &__project-info {
    @include smallCard;
    margin-bottom: 1.2vh;
    p:first-of-type {
      font-size: 2.3vh;
      font-weight: bold;
      color: $darkPrimary;
    }
    .project-details {
      @include detailsCard;
    }
  }
  &__project-logo {
    @include logo;
  }

  &__prmanger-info {
    @include smallCard;
    margin-bottom: 1.2vh;

    p:first-of-type {
      font-size: 2vh;
      font-weight: bold;
      color: $darkPrimary;
    }

    .manager-details {
      @include detailsCard;
    }

    .project-manager-image {
      @include logo;
    }
  }

  &__employee-info {
    text-align: end;
    padding: 2vh 2vh;
    width: 100%;
    font-size: 1.8vh;
    font-weight: bold;

    border-radius: $border-radius-sm;
    background-color: darken($lightGrayPrimary, $amount: 5%);
  }

  &:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: auto;
  }
}

@media screen and (max-width: 360px) {
  .card {
    &__project-info {
      margin-bottom: 2vh;
      h2 {
        font-size: 2.5vh;
        font-weight: bold;
      }
    }
    &__prmanger-info {
      margin-bottom: 2vh;
      h3 {
        font-size: 2.5vh;
        font-weight: bold;
      }
    }
    &__employee-info {
      font-size: 2vh;
      font-weight: bold;
    }
  }
}
