@import "../../styles/variables";

.employee-conteiner {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 4px;
  margin-left: 1rem;

  img {
    height: 10vh;
    border-radius: 50%;
  }
}
