@import '../../styles/variables';
.categories {
  &__description {
    background-color: $darkPrimary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
    padding-bottom: 4.5rem;
    margin-bottom: 30px;
    font-family: $roboto-font;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      text-align: center;
      padding: 3rem 4rem;
    }

    &__left div:first-of-type {
      font-size: 28px;
      line-height: 33px;
      font-weight: 600;
      color: $whitePrimary;
    }

    &__left div:last-of-type {
      font-size: 22px;
      line-height: 26px;
      color: $grayPrimary;

      @media screen and (max-width: 800px) {
        margin-bottom: 20px;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        margin-bottom: 0 !important;
      }

      @media screen and (max-width: 800px) {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;      
      }
    }

    input {
      background: #ffffff;
      border: 1px solid #e2e8f0;
      border-radius: 6px;
      font-size: 18px;
      padding: 0.5rem 1rem;
      font-family: $roboto-font;
      margin-bottom: 10px;
    }
    input:focus {
      outline: none;
    }

    button {
      cursor: pointer;
      color: white;
      margin-left: 10px;
      padding: 10px 24px;
      background: $bluePrimary;
      border-radius: 6px;
    }
  }
  &__content {
    padding: 0 8rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    justify-content: center;

    @media screen and (max-width: 1250px) {
      padding: 0;
    }

    @media screen and (max-width: 650px) {
      padding: 0;
      justify-content: center;
      width: 100%;
    }
  }
}
