@import '../../styles/variables';
.users {
  &__description {
    background-color: $darkPrimary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
    padding-bottom: 4.5rem;
    font-family: $roboto-font;
    margin-bottom: 30px;
    border-radius: 0 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    @media screen and (max-width: 650px) {
      flex-direction: column;
      padding: 3rem 4rem;
    border-radius: 0 0 15px 15px;

    }

    &__left div:first-of-type {
      font-size: 28px;
      line-height: 33px;
      font-weight: 600;
      color: $whitePrimary;
    }

    &__left div:last-of-type {
      font-size: 22px;
      line-height: 26px;
      color: $grayPrimary;

      @media screen and (max-width: 650px) {
        margin-bottom: 20px;
      }
    }

    input {
      background: #ffffff;
      border: 1px solid #e2e8f0;
      border-radius: 6px;
      font-size: 18px;
      padding: 0.5rem 1rem;
      font-family: $roboto-font;
    }
    input:focus {
      outline: none;
    }
  }

  &__content {
    padding: 0 8rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    justify-content: center;

    @media screen and (max-width: 1250px) {
      padding: 0 2rem;
      justify-content: center;
      width: 100%;
    }

    @media screen and (max-width: 650px) {
      padding: 0;
      justify-content: center;
      width: 100%;
    }
  }
}
