@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
//FONTS
$ubuntu-font: 'Ubuntu', sans-serif;
$roboto-font: 'Roboto', sans-serif;

//COLORS
$backGround: rgb(255, 255, 255);
$basicWhite: white;
$backGround2: rgb(37, 37, 37);
$text: rgb(15, 15, 15);
$text2: rgb(240, 240, 240);
$primaryColor: rgb(144, 147, 148);
$mainYellow: #fbb440;
$signUpHover: #c48f44;
$dropDown: rgb(168, 166, 166);
$inputBorder: #eee;
$infoBottomText: #a9a9a9;
$inputFileText: rgb(158, 157, 157);

//SPACING
$spacing-small: 0.5em;
$spacing-medium: 1em;
$spacing-large: 2em;

//HEIGHT
$headerHeight: 4.5em;

//BREAKPOINTS
$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  }
}
