@import '../../styles/variables';

.employee-info {
    
    &__content {
        // padding: 0 8rem;
        padding-top: 0;
        margin: 0 auto;
        margin-top: 2rem;
        flex-wrap: wrap;
        width: 70%;

        &__search {
            background: #f8f8f8;
            width: 1166px;
            float: left;
            margin: 0 2.5%;
        }

        & header {
            background-color: #62929e;
            color: #fdfdff;
            margin-top: 2rem;
            border-radius: 1rem 1rem 0 0;
        }

        & section {
            border-radius: 5px 0px 5px 5px;
            font-size: 1.5rem;
            float: left;
            font-family: $roboto-font;

            &:hover {
                cursor: pointer;
                transition: 0.2s ease-in;
            }
            &:target {
                font-weight: 600;
            }

            // @include tablet {
            //     font-size: 1rem;
            //     width: 25%;
            // }

            // @include small {
            //     font-size: 0.75rem;
            // }
        }

        & input,
        select {
            margin-left: 0.5rem;
            padding: 0.6rem 0;
            cursor: pointer;
            background: #ffffff;
            border: 1px solid #e2e8f0;
            border-radius: 6px;
            font-size: 14px;

            &:hover {
                cursor: pointer;
            }

            & option {
                color: #8e8e8e;
            }
        }

        // @include small {
        //     padding: 0;
        //     justify-content: center;
        //     width: 100%;
        // }
    }
}

.section__body {
    background-color: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}