@import '../../styles/variables';

//BREAKPOINTS
@mixin small {
    @media (max-width: #{$small}) {
        @content;
    }
}

@mixin medium {
    @media (max-width: #{$medium}) {
        @content;
    }
}

@mixin large {
    @media (max-width: #{$large}) {
        @content;
    }
}

//VIEWS
@mixin laptopLarge {
    @media (max-width: #{$laptopLarge}) {
        @content;
    }
}

@mixin laptopStandard {
    @media (max-width: #{$laptopStandard}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobileLarge}) {
        @content;
    }
}

.emp {
    &__description {
        background: #ede7fd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
        font-family: $roboto-font;

        @include small {
            flex-direction: column;
            padding: 0;
            justify-content: center;
            width: 100%;
            &__right {
                margin-left: 6rem;
            }
        }

        @include large {
            padding-top: 2rem;
            width: 100%;
        }

        &__left {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;

            color: #5c5c5c;
        }

        &__right {
            padding-left: 2rem;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;

            @include tablet {
                margin-right: 2rem;
            }

            &__pmlogo {
                cursor: pointer;
                padding-top: 1rem;
                &:hover {
                    transform: scale(1.04);
                }
                & img {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;

                    @include tablet {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }

        &__toright {
            font-style: normal;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 28px;

            @include tablet {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 3.2rem;
                font-size: 1rem;
            }

            & img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-top: 1rem;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.06);
                }

                @include tablet {
                    margin-top: 6rem;
                    margin-left: -4rem;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        &__left {
            max-width: 48rem;
        }

        &__left div:first-of-type {
            font-size: 1.75rem;
            line-height: 2.5rem;
            font-weight: 600;
        }

        &__left div:last-of-type {
            font-size: 1.375rem;
            line-height: 2.2rem;
            color: #5c5c5c;

            @include small {
                margin-bottom: 1.15rem;
            }
        }
    }
}

.manager {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 28px;

    @include tablet {
        font-size: 1rem;
    }
}

.search__dropdown {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-top: 22rem;
    margin-left: 50rem;

    & input {
        padding: 0.25rem;
    }

    // @include laptopLarge {
    //     margin-left: 35rem;
    // }

    // @include laptopStandard {
    //     margin-left: 21rem;
    // }

    // @include tablet {
    //     margin-left: 13.5rem;
    //     margin-top: 25.5rem;
    // }

    // @include mobile {
    //     margin-left: 2rem;
    //     margin-top: 36rem;
    // }

    &__select__input {
        margin-left: 1rem;
        padding: 0.6rem 0;
        cursor: pointer;
        background: #ffffff;
        border: 1px solid #e2e8f0;
        border-radius: 6px;
        font-size: 14px;

        &:hover {
            cursor: pointer;
        }

        & option {
            color: #8e8e8e;
        }

        @include laptopStandard {
            position: absolute;
        }
    }

    & input {
        cursor: pointer;
        background: #ffffff;
        border: 1px solid #e2e8f0;
        border-radius: 6px;
        font-size: 18px;
        padding: 0.5rem 0.5rem;
        padding-left: 2rem;
        font-family: $roboto-font;
        background-image: url('../../assets/settingsIcon.png');
        background-position: 5px 12px;
        background-repeat: no-repeat;

        &:hover {
            transform: scale(1.04);
        }

        &:focus {
            outline: none;
        }

        @include large {
            width: 80%;
            margin-bottom: 1rem;
            margin-right: 2.25rem;
        }

        @include medium {
            width: 80%;
            margin-bottom: 1rem;
            margin-right: 2.25rem;
        }
    }
}
