@import "../../styles/variables";

// @mixin mobile {
//   @media (max-width: #{$mobileLarge}) {
//     @content;
//   }
// }

$box-shadow-small-card: -2px -2px 5px rgba(255, 255, 255, 0.45),
  2px 2px 5px rgba(32, 58, 104, 0.3);
$border-radius-sm: 4px;

@mixin detailsCard {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.8vh;
  padding: 1vh;
  padding-bottom: 0.5vh;
  font-weight: bold;
  letter-spacing: 0.1vw;
  border-radius: 2px;
  white-space: nowrap;
  color: $darkPrimary;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@mixin smallCard {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4vh 1vh 2vh 1.5vh;
  border-radius: $border-radius-sm;
  background-color: darken($lightGrayPrimary, $amount: 5%);
}

.note {
  width: 24vw;

  &__content {
    background-color: $lightGrayPrimary;
    border-radius: 4px;
    margin: 4vh 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3vh;

    &:hover {
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .right-buttons {
    display: flex;

    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4vh;
    .edit,
    .delete {
      margin-right: 0.3vw;
      font-size: 1.7vh;
      color: $darkPrimary;

      text-transform: uppercase;
      font-weight: 700;
      &:hover {
        color: lighten($darkPrimary, 20%);
      }
    }
    .sm-icon {
      font-size: 2.8vh;
      margin-right: 1vw;
      color: $darkPrimary;

      &:hover {
        color: lighten($darkPrimary, 10%);
      }
    }
  }

  &__head {
    @include smallCard;
    margin-bottom: 2vh;
    & > div {
      @include detailsCard;
    }

    .title {
      font-weight: bold;
      color: $darkPrimary;
      margin-right: auto;
      margin-top: 1.4vh;
    }
  }

  &__description {
    @include smallCard;
    margin-bottom: 2vh;

    & > div:first-of-type {
      p {
        max-height: 16vh;
        overflow-y: auto;

        // margin: 1vh 0;
        margin-top: 1.5vh;

        font-size: 2vh;
      }
    }
    & > div:last-of-type {
      @include detailsCard;
    }
  }

  &__footer {
    @include smallCard;
    margin-bottom: 2vh;
    .footer-img {
      width: 7vh;
      height: 7vh;
      border-radius: 50%;
      margin-right: 1vw;
    }
    .footer-pmName {
      font-size: 2.2vh;
      font-weight: bold;
      color: $darkPrimary;
    }
    .footer-details {
      @include detailsCard;
    }
  }

  .note-docs {
    @include smallCard;
  }

  @media screen and (max-width: 750px) {
    width: 33vw;
  }

  @media screen and (max-width: 550px) {
    width: 35vw;
    &__head {
      .title {
        font-size: 2.5vh;
        font-weight: bold;
      }
    }
    &__description {
      p {
        font-size: 2.5vh;
      }
    }
  }
  @media screen and (max-width: 480px) {
    width: 85vw;
  }
}
